/* Reset some default styles */
body, h1, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #111; /* Black background */
    color: #ddd; /* Light grey text color */
    background-image: url(bg2.webp);
}

header {
    background-color: #333; /* Dark grey header background */
    padding: 20px;
    text-align: center;
}

h1 {
    color: #fff; /* White heading text color */
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.todo-input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

.todo-button {
    background-color: #333; /* Dark grey button background */
    color: #fff; /* White button text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.select {
    margin-left: 10px;
}

.filter-todo {
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.todo-container {
    max-width: 600px;
    margin: 20px auto;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.todo-item {
    background-color: #333; /* Dark grey list item background */
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item.completed {
    background-color: #555; /* Darker grey for completed items */
    text-decoration: line-through;
}

.todo-item i {
    color: #fff; /* White icon color */
    cursor: pointer;
    margin-left: 10px;
}

.todo {
    background-color: #333;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease; /* Adding a smooth transition */
}
